body {
	background-color: #eee;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
#login-panel {
	width: 100%;
	margin-top: 0px;
	background-color: #fff;
}
#login-panel h1 {
	color: #333;
}
#login-panel .form-control, #login-panel .btn, #login-panel .alert {
	border-radius: 0px;
	box-shadow: none;
	color: #333;
	font-size: 15px;
}
#login-panel .form-control {
	border: 3px solid #eee;
}
#login-panel .btn:hover {
	color: #000;
}
#email-icon, #eye-icon {
	padding: 0px 15px;
    background-color: #fff;
    border: 3px solid #eee;
    border-radius: 0px;
    border-right: 0px;
}
.right {
	text-align: right;
}
.f-right {
	float: right;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.f-left {
	float: left;
}
.display-none {
	display: none;
}
.bg-red {
	background-color: #e94043;
	color: #fff !important;
}
.bg-teal {
	background-color: #00897b;
	color: #fff !important;
}